@font-face {
    font-family: 'extrudemedium';
    src: url('fonts/extrude-webfont.woff2') format('woff2'),
         url('fonts/extrude-webfont.woff') format('woff'),
         url('fonts/extrude-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wide_pixel-7regular';
    src: url('fonts/wide_pixel-7-webfont.woff2') format('woff2'),
         url('fonts/wide_pixel-7-webfont.woff') format('woff'),
         url('fonts/wide_pixel-7-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fippsregular';
    src: url('fonts/fipps-regular-webfont.woff2') format('woff2'),
         url('fonts/fipps-regular-webfont.woff') format('woff'),
         url('fonts/fipps-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-webfont.woff2') format('woff2'),
         url('fonts/pressstart2p-webfont.woff') format('woff'),
         url('fonts/pressstart2p-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  background: url("../images/pageBG.png") top center fixed;
}

body {
  width: auto;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

canvas {
  margin: 0 auto;
}

main {
  display: flex;
}

header span {
  margin: 0 auto;
  color: #314361;
  font-family: extrudemedium;
  font-size: 48px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: white;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer span {
  font-family: wide_pixel-7regular;
  font-size: 28px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  height: 64px;
  color: white;
  font-size: 50px;
}

.devicon-github-plain {
  font-size: 50px;
  color: white;
}
